@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: bg-stone-; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(211, 212, 219);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(109, 120, 196);
  border-radius: 14px;
}

/* Hide the up arrow button */
::-webkit-scrollbar-button:start {
  display: none;
}

/* Hide the down arrow button */
::-webkit-scrollbar-button:end {
  display: none;
}
